/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 9, 2013, 6:45:00 PM
    Author     : Jacob Aimino
*/

body{
    //background-color:#DEDEDE;
}

.intro-header {
    padding-top: 200px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 100px;
    margin-bottom:20px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/ud_banner2.jpg) no-repeat center center;
    background-size: cover;
}

.intro-header-alt {
    padding-top: 200px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 100px;
    margin-bottom:20px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/ud_banner.jpg) no-repeat center center;
    background-size: cover;
}

.intro-header-alt2 {
    padding-top: 200px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 100px;
    margin-bottom:20px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/ud_banner2.jpg) no-repeat center center;
    background-size: cover;
}

.intro-wrapper{
    background-color:black;
    opacity:0.8;
}

.intro-message{
    opacity:1.0;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/fedora.png) no-repeat center center;
    background-size: cover;
}

.callout{
    //border: 1px solid white;
    opacity: 0.85;
}

.callout:hover{
    //border: 1px solid black;
    opacity: 1.0;
}

.callout:active{
    //border: 1px solid black;
    opacity: 1.0;
}

.os-gallery-thumb{
    width:120px;
}

.callout-description{
    margin-top:10px;
}

.row-padded{
    margin-top:30px;
}

.row-padded-small{
    margin-top: 15px;
}

.row-padded-lg{
    margin-top:50px;
}

.row-padded-xl{
    margin-top:120px;
}

.img-center{
    margin: 0 auto;
}

.col-padded{
    margin-left:15px;
    margin-right:15px;
}

blockquote{
    font-size: 12pt;
}

#main-nav{
    margin-top:18px;
}